* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
html
{
  font-size:62.5%;
  font-family: 'Poppins', sans-serif;
}
header 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  font-size: 2rem;
}